<div class="wrapper">
    <div class="board">
        @foreach (var square in ChessBoard.Squares)
        {
            <div class="square @(square.Color == ColorType.Light ? "white" : "black")">
                <span>@square.Piece.Character</span>
            </div>
        }
   </div>
</div>

@code
{
    private Board ChessBoard { get; } = Board.Initialize();
}
