div {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.white {
    background-color: #ffffff;
    color: #000000;
}

.black {
    background-color: #51585e;
    color: #ffffff;
}